@import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital@1&display=swap');
*
/* ----------------- Top of page ------------------ */ 
{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body
{
    overflow-x: hidden;
    background-color: #fff;
    min-height: 100vh;
}
#header
{
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo
{
    font-size: 2em;
    text-decoration: none;
    color: #6e5351;
    font-weight: 700;
}

#header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li
{
    margin-left: 20px;
    list-style: none;
}

#header ul li a
{
text-decoration: none;
padding: 6px 15px;
color: #6e5351;
border-radius: 20px;
}

#header ul li a:hover
{
    background:#6e5351;
    color:#fff;
}

section
{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100px;
    background: linear-gradient(to top, #77564b, transparent);
    z-index: 10; 
}
section img
{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    top: 0;
    left: 0;
}

section #text
{
    position: absolute;
    color:#6e5351;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Outfit', sans-serif;
}

section #text span
{
    font-size: 0.3em;
    letter-spacing: 2px;
    font-weight: 400;
}

/* --------------- contents inside the home page ---------------------- */

.informationBox
{
    position:static;
    padding: 50px;
    background:#77564b;
    height: 400px;
    font-family: 'Outfit', sans-serif;
}

.informationBox
{
    font-size: 30px;
    color: #fff;
}

.informationBox h1
{
    font-size: 90px;
    margin-top: 20px;
}


/* ------------------------ about me in home page -------------------------- */

.informationBox2
{
    background: #77564b;
    height: 800px;
    padding: 80px 0;
    color: #fff;
    background: linear-gradient(to bottom, #77564b, #fac3c8);
}

.row 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about1
{
    flex-basis: 35%;
}
.about1 img
{
    width: 100%;
    border-radius: 15px;
    margin-left: 50px;
}
.about2
{
    flex-basis: 60%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.subTitle
{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tabTitles
{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}



.tabContents ul li
{
    margin: 10px 0;
    list-style: none;
}

.tabContents ul li span
{
    font-size: 15px;
    color: #77564b;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .informationBox3
{
    background: linear-gradient(to bottom, #fac3c8, transparent);
    padding: 80px 0;
    color: #77564b;
}